body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 100px;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 0%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin: 30px 10px 0px 10px;
}

button {
  background-color: orangered;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 15px; 
  margin: 1px auto;
  width: 170px;
  height: 70px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {opacity: 1}

.Dice_set{
  display: inline;
  width: 30%;
  height: 30%;
  margin: 50px 30px 0px 30px;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 40%;
  /* height: 40%; */
  margin: 0px 10px 0px 10px;
}

.btnDiv{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
